<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" conetent="width=device width, initial-scale = 1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

        <title>Internship Tracker</title>

        <link rel="stylesheet" type="text/css" href="/styles/header.css">
        <link rel="stylesheet" type="text/css" href="/styles/add-internship.css">
        <link rel="stylesheet" type="text/css" href="/styles/tracker.css">

    </head>
    <body>
        <div class="header">
            <div class="logo">
                <p class="logo-text">Application Tracker</p>
            </div>
            <div class="logout">
                <a href="/users/logout"><button class="logout-button">Logout</button></a>
            </div>
        </div>

        <div class="slogan-container">
            <p class="slogan">Tracking your applications has never been so <span class="slogan-gradient">easy</span></p>
        </div>

        <div class="add-an-internship-container">
            <div class="add-an-internship-title">
                <p>Add an <span class="internship-color">application</span></p>
            </div>
            <form action="/users/main-connected" method="POST">
                <div class="add-an-internship-filler">
                    <div class="role-container">
                        <input type="text" id="idRole" name="role" placeholder="Role" class="role-input" required>
                    </div>
                    <div class="company-container">
                        <input type="text" id="idCompany" name="company" placeholder="Company" class="company-input" required>
                    </div>
                    <div class="salary-container">
                        <input type="text" id="idSalary" name="salary" placeholder="Salary" class="salary-input" required>
                    </div>
                </div>
                <button type="submit" value="Add" class="add-button">Add</button>
            </form>
        
            
            
        </div>


        <div class="internship-tracker-container">
            <div class="internship-tracker-title-container">
                <p class="internship-tracker-title">Your Tracker</p>
            </div>
            <div class="internship-tracker-table-container">
                <div class="table">
                    <div class="table-row" >
                        <div class="table-column-role-1">Role</div>
                        <div class="table-column-company-1">Company</div>
                        <div class="table-column-salary-1">Salary</div>
                        <div class="table-column-state-1">State</div>
                        <div class="blank-space"></div>
                    </div>

                    <div class="hr-container"><hr class="horizontal-line"></hr></div>

                    <% jobApplications.forEach(application => { %>
                        <div class="table-row">
                            <div class="table-column-role"><%= application.role %></div>
                            <div class="table-column-company"><%= application.company %></div>
                            <div class="table-column-salary"><%= application.salary %></div>
                            <div class="table-column-state"><%= application.status %></div>
                            <div class="delete-button-container">
                                <form action="/users/main-connected/<%= application.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="delete-button">X</button>                             
                                </form>
                            </div>
                        </div>
                        <div class="hr-container"><hr class="horizontal-line"></hr></div>
                    <% }) %>
                    
                </div>
            </div>
        </div>        
    </body>
</html>